@mixin font-face($font-name, $file-name, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-name;
        src: url('#{$font-path}/#{$file-name}.ttf') format('truetype');
        font-weight: $font-weight;
        font-style: $font-style;
        }
    }