// Импорт переменных
@import 'variables';

// Импорт сброса стилей
@import 'reset';

//Импорт миксинов
@import 'mixins';

// Импорт базовых стилей
@import 'base';

// Импорт шрифтов
@import 'fonts';


.flex_center {
    @include flex_justify_center;
}

// Header
.header_nav_bloc {
    @include flex_center_space-between;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.header_logo,
#header_nav_centre {
    @include flex_center_center;
}

.label_header_nav {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    line-height: 150%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.nav-item {
    margin: 10px 0;
}

.nav_item_burger {
    display: none;
}

.burger_nav {
    display: none;
}

.nav-link {
    display: flex;
    color: var(--text-dark, #403F3D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: color 0.9s;
    margin: 0 2px 2px 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transition: width 0.6s, opacity 0.6s;
}

.nav-link:hover::after,
.nav-link:active::after {
    width: 100%;
    opacity: 1;
}

.nav-link.active::after {
    width: 100%;
    opacity: 1;
}

#menu_coffee .nav-link.active {
    cursor: default;
}

// Header END



















// Footer
.footer_information {
    @include flex_space-between;
}

.footer_policy h4,
.footer_contacts h4 {
    padding: 0 0 20px;
}


.footer_developer_icon{
    @include flex_center_center
}

.footer_contacts_socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

// .contacts_socials_icon {
//     cursor: pointer;
//     display: flex;
//     width: 40px;
//     height: 40px;
//     justify-content: center;
//     align-items: center;
//     border-radius: 100px;
//     border: 1px solid var(--border-light, #C1B6AD);
//     background: var(--background-container, #665F55);
//     transition: background 0.6s ease-in-out, color 0.6s ease-in-out;
// }

// .contacts_socials_icon:hover {
//     background: var(--background-body, #E1D4C9);
//     transition: background 0.6s ease-in-out;
// }

// .contacts_socials_icon:hover svg path {
//     stroke: #403F3D;
// }


// Footer END