<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta
    name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
/>
<meta
    name="description"
    content="psychology, analysis, CBT, add up to 150-160 characters."
/>
<title>Shadrina PSY</title>
<link rel="icon" type="image/png" sizes="16x16" href="/frontend/assets/images/png/logo-favicon.png">
<link
    rel="icon"
    type="image/ico"
    href="/frontend/assets/images/png/logo-favicon.png"
/>
<!-- Сделать под требуемые размеры: -->
<!-- <link rel="icon" type="image/png" sizes="16x16" href="./assets/png/logo-favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/png/logo-favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="./assets/png/logo-favicon-48x48.png">
<link rel="icon" type="image/png" sizes="64x64" href="./assets/png/logo-favicon-64x64.png">
<link rel="icon" type="image/png" sizes="96x96" href="./assets/png/logo-favicon-96x96.png">
<link rel="icon" type="image/png" sizes="128x128" href="./assets/png/logo-favicon-128x128.png">
<link rel="apple-touch-icon" sizes="152x152" href="./assets/png/logo-favicon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./assets/png/logo-favicon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="./assets/png/logo-favicon-192x192.png">
<link rel="icon" type="image/png" sizes="256x256" href="./assets/png/logo-favicon-256x256.png">
<link rel="icon" type="image/png" sizes="384x384" href="./assets/png/logo-favicon-384x384.png">
<link rel="icon" type="image/png" sizes="512x512" href="./assets/png/logo-favicon-512x512.png"> -->
<!-- 16x16: для стандартных вкладок браузера.
32x32: для новых вкладок и некоторых других интерфейсов.
48x48: иногда используется в операционных системах и для закладок.
64x64: для некоторых случаев использования в разных платформах.
96x96: для Google TV и некоторых других ситуаций.
128x128: для вкладок и операционных систем, где используются более крупные иконки.
152x152: для устройств Apple, когда используется Apple Touch Icon.
180x180: для iPhone и iPad при добавлении сайта на домашний экран.
192x192: для Android Chrome, когда добавляется на домашний экран.
256x256, 384x384, и 512x512: для современных устройств и ситуаций, где требуются иконки высокого разрешения. -->

<!-- Подключение CSS файла -->
<link rel="stylesheet" href="/frontend/assets/css/styles.css">