<base href="/Shadrina_PSY/" target="_blank">
<div class="footer_block">
    <div class="footer_information">
        <div class="footer_policy">
            <h4 class="">ПОЛИТИКИ И УСЛОВИЯ</h4>
            <div class="footer_policy">
                <p class="">Политика</p>
                <p class="">Конфиденциальность</p>
            </div>
        </div>
        <div class="footer_contacts">
            <h4 class="flex_center">СОЦИАЛЬНЫЕ СЕТИ</h4>
            <div class="footer_contacts_socials">
                <a
                href="https://www.instagram.com/shadrina_psy/"
                target="_blank"
                rel="noopener noreferrer"
                class=""
                >
                    <img
                    class="footer_contacts_socials_logo"
                    src="../assets/images/svg/instagram.svg"
                    alt="logo_instagram"
                    width="30" height="30"
                    >
                </a>

                <a
                href="https://telegram.me/lena2065"
                target="_blank"
                rel="noopener noreferrer"
                class=""
                >
                    <img
                    class="footer_contacts_socials_logo"
                    src="../assets/images/svg/telegram.svg"
                    alt="logo_telegram"
                    width="30" height="30"
                    >
                </a>

                <a
                href="mailto:jesss86@mail.ru"
                target="_blank"
                rel="noopener noreferrer"
                class=""
                >
                    <img
                    class="footer_contacts_socials_logo"
                    src="../assets/images/svg/email.svg"
                    alt="logo_mail"
                    width="30" height="30"
                    >
                </a>

                <a
                href="https://www.youtube.com/@shadrinapsy/videos"
                target="_blank"
                rel="noopener noreferrer"
                class=""
                >
                    <img
                    class="footer_contacts_socials_logo"
                    src="../assets/images/svg/youtube.svg"
                    alt="logo_youtube"
                    width="30" height="30"
                    >
                </a>

                <a
                href="https://vk.com/behaviour4535"
                target="_blank"
                rel="noopener noreferrer"
                class=""
                >
                    <img
                    class="footer_contacts_socials_logo"
                    src="../assets/images/svg/vk.svg"
                    alt="logo_vk"
                    width="30" height="30"
                    >
                </a>

                <a
                href="https://www.facebook.com/profile.php?id=100086521359636"
                target="_blank"
                rel="noopener noreferrer"
                class=""
                >
                    <img
                    class="footer_contacts_socials_logo"
                    src="../assets/images/svg/facebook.svg"
                    alt="logo_facebook"
                    width="30" height="30"
                    >
                </a>
            </div>
        </div>

        <div class="footer-developer">
            <h4 class="">РАЗРАБОТЧИК</h4>
            <div class="footer_developer_icon">
                <a
                    href="https://github.com/Iankel86"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        class="logo_author_site"
                        src="../assets/images/png/logo_author_site_2.png"
                        alt="logo_author_site"
                        width="70" height="70"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="footer-year">
        <p class="year"></p>
    </div>
</div>